extends include/main

block variables
  - let title='{ CheapCode }'

block content
  section#index
    .container
      .index
        .index__title
          h1 – Привет! Это&nbsp;«ЧипКод»
          .index__image
            picture
              source(srcset='/image/illustration/hand.png 1x, /image/illustration/hand@2x.png 2x' type='image/png')
              img(src='/image/illustration/hand.png' loading='eager' alt='image')
        .index__lead Студия разработки мобильных приложений для&nbsp;стартап проектов и бизнеса
      .index-image
        picture
          source(srcset='/image/illustration/index.m.png 1x, /image/illustration/index.m@2x.png 2x' media='(max-width: 767px)' type='image/png')
          source(srcset='/image/illustration/index.png 1x, /image/illustration/index@2x.png 2x' type='image/png')
          img(src='/image/illustration/index.png' loading='eager' alt='image')
      .index-info
        .index-info__text
          p Наша специализация - UX/UI дизайн, фронтенд- разработка, написание сложного кода JavaScript и&nbsp;превращение макетов в HTML.
          p Сделаем рабочий прототип за 5 дней!
        .index-info__button
          .button.button_main
            a.open-popup(href='#request' title='Заказать приложение') Заказать приложение
  section#apps
    .container
      .apps
        .apps__title
          h2
            | Продукты, которые
            br
            | мы уже сделали
      .apps-list
        .apps-list-item
          .apps-list-item__info
            .apps-list-item__label Бизнес
            .apps-list-item__tags ui/ux, ios, android, back-end, admin
            .apps-list-item__title
              h3
                a(href='#' title='В Пакете') В Пакете
            .apps-list-item__desc
              p
                b Сервис доставки продуктов
            .apps-list-item__time
              .apps-list-item__icon
                img(src='/image/icon/timer.svg' alt='icon')
              span 1200 - 1700
              | часов
            .apps-list-item__city
              p
                b Город:
                span Минск, Грозный
            .apps-list-item__category
              p
                b Категория:
                span Доставка продуктов
          .apps-list-item__image
            picture
              source(srcset='/image/app/in_package.m.png 1x, /image/app/in_package.m@2x.png 2x' media='(max-width: 767px)' type='image/png')
              source(srcset='/image/app/in_package.png 1x, /image/app/in_package@2x.png 2x' type='image/png')
              img(src='/image/app/in_package.png' loading='lazy' alt='image')
        .apps-list-item
          .apps-list-item__info
            .apps-list-item__label Наука
            .apps-list-item__tags ui/ux, ios, android, back-end, admin
            .apps-list-item__title
              h3
                a(href='#' title='All papers') All papers
            .apps-list-item__desc
              p
                b Научные статьи
            .apps-list-item__time
              .apps-list-item__icon
                img(src='/image/icon/timer.svg' alt='icon')
              span 500 - 700
              | часов
            .apps-list-item__city
              p
                b Город:
                span Шанхай
            .apps-list-item__category
              p
                b Категория:
                span Наука
          .apps-list-item__image
            picture
              source(srcset='/image/app/all_papers.m.png 1x, /image/app/all_papers.m@2x.png 2x' media='(max-width: 767px)' type='image/png')
              source(srcset='/image/app/all_papers.png 1x, /image/app/all_papers@2x.png 2x' type='image/png')
              img(src='/image/app/all_papers.png' loading='lazy' alt='image')
        .apps-list-item
          .apps-list-item__info
            .apps-list-item__label Бизнес
            .apps-list-item__tags ui/ux, ios, android, back-end, admin
            .apps-list-item__title
              h3
                a(href='#' title='Водолей') Водолей
            .apps-list-item__desc
              p
                b Служба доставки воды
            .apps-list-item__time
              .apps-list-item__icon
                img(src='/image/icon/timer.svg' alt='icon')
              span 500 - 700
              | часов
            .apps-list-item__city
              p
                b Город:
                span Минск
            .apps-list-item__category
              p
                b Категория:
                span Доставка воды
          .apps-list-item__image
            picture
              source(srcset='/image/app/aquarius.m.png 1x, /image/app/aquarius.m@2x.png 2x' media='(max-width: 767px)' type='image/png')
              source(srcset='/image/app/aquarius.png 1x, /image/app/aquarius@2x.png 2x' type='image/png')
              img(src='/image/app/aquarius.png' loading='lazy' alt='image')
        .apps-list-item
          .apps-list-item__title
            h4 Давайте начнём
          form.apps-list-item-form(name='apps_start' autocomplete='off')
            .apps-list-item-form__title Выберите платформы, на которых должно работать мобильное приложение
            fieldset.apps-list-item-form__line
              .radio
                input#ios(type='radio' name='type' value='iOS' checked)
                label(for='ios') iOS
              .radio
                input#android(type='radio' name='type' value='Android')
                label(for='android') Android
              .radio
                input#web(type='radio' name='type' value='Web')
                label(for='web') Web
            fieldset.apps-list-item-form__line
              .apps-list-item-form__column
                label(for='phone') Телефон
                input#phone(type='phone' name='phone' required placeholder='+7' value='')
              .apps-list-item-form__column
                label(for='email') Почта
                input#email(type='email' name='email' required placeholder='' value='')
            fieldset.apps-list-item-form__line
              .apps-list-item-form__block
                label(for='description') Расскажите о своём проекте
                textarea#description(name='description' required placeholder='' value='')
            .apps-list-item-form__button
              .button.button_send.button_disable
                a(href='#' title='Отправить запрос') Отправить запрос
  section#services
    .container
      .services
        .services-nav
          a.active(href='#startups' title='Стартапам') Стартапам
          a(href='#business' title='Бизнесу') Бизнесу
        ul.services-list
          li.services-list-item#startups
            .services-list-item__title Быстрое создание MVP
            ul.services-list-item__info
              li.services-list-item__group
                .services-list-item__problem Проблема
                .services-list-item__text
                  p Нужен срочно какой-то результат?
                  p Для старта есть бюджет не на весь проект?
                  p Не можешь определиться с направлением?
              li.services-list-item__group
                .services-list-item__decision Решение
                .services-list-item__text
                  p Разработка MVP (минимальной версии проекта) позволит за небольшой бюджет быстро получить результат с вариантами дальнейшего развития
              li.services-list-item__group
                .services-list-item__budget
                  | Бюджет: 
                  span от 225 000 ₽
                .services-list-item__date
                  | Срок: 
                  span от 14 дней
                .services-list-item__button
                  .button.button_min
                    a.open-popup(href='#request' title='Оставить заявку') Оставить заявку
            .services-list-item__title Экономия 675 000 ₽
            ul.services-list-item__info
              li.services-list-item__group
                .services-list-item__problem Проблема
                .services-list-item__text
                  p Нужен сразу весь функционал? Фиксированный бюджет на весь проект?
                  p А как быть с правками и доработками?
              li.services-list-item__group
                .services-list-item__decision Решение
                .services-list-item__text
                  p С самого начала можно заказать весь необходимый функционал и быть уверенным, что в запасе ещё будет 300 часов
              li.services-list-item__group
                .services-list-item__budget
                  | Бюджет: 
                  span от 2 700 000 ₽
                .services-list-item__date
                  | Срок: 
                  span от 4 месяцев
                .services-list-item__button
                  .button.button_min
                    a.open-popup(href='#request' title='Оставить заявку') Оставить заявку
          li.services-list-item#business
            .services-list-item__title Первый этап работ
            ul.services-list-item__info
              li.services-list-item__group
                .services-list-item__problem Проблема
                .services-list-item__text
                  p Хотите начать работу без технического задания?
                  p Необходимо понять возможности приложения?
                  p Есть бизнес, но нет проверенного ИТ-специалиста?
              li.services-list-item__group
                .services-list-item__decision Решение
                .services-list-item__text
                  p Напишем функциональные требования, спроектируем главный экран, сделаем смету, подберем технологии и укажем необходимую команду для разработки
              li.services-list-item__group
                .services-list-item__budget
                  | Бюджет: 
                  span 30 000 ₽
                .services-list-item__date
                  | Срок: 
                  span 7 дней
                .services-list-item__button
                  .button.button_min
                    a.open-popup(href='#request' title='Оставить заявку') Оставить заявку
            .services-list-item__title Машинное обучение
            ul.services-list-item__info
              li.services-list-item__group
                .services-list-item__problem Проблема
                .services-list-item__text
                  p Нужна рекомендательная smart-подборка товаров и услуг?
                  p Хотите построить диалоговый чат-бот с обработкой речи?
                  p Необходим результат на основании совершенных действий?
              li.services-list-item__group
                .services-list-item__decision Решение
                .services-list-item__text
                  p Подберем наиболее подходящую платформу, сегментируем имеющиеся и поступающие данные в эффективное обучение разработанных алгоритмов
              li.services-list-item__group
                .services-list-item__budget
                  | Бюджет: 
                  span от 225 000 ₽
                .services-list-item__date
                  | Срок: 
                  span от 30 дней
                .services-list-item__button
                  .button.button_min
                    a.open-popup(href='#request' title='Оставить заявку') Оставить заявку
  section#mobile
    .container
      .mobile
        .mobile__title
          h2
            | Выберите услугу по разработке
            br
            | мобильного приложения
      .mobile-list
        .mobile-list__title
          h5 Услуги под ключ:
        .mobile-list__info
          a.mobile-list-item(href='#' title='Разработка мобильного приложения (iOS, Android)')
            .mobile-list-item__title Разработка мобильного приложения (iOS, Android)
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 225 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 20
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Разработка приложения и серверной части
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 675 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 30
                |  дней
        .mobile-list__title
          h5 Услуги отдельных этапов работ:
        .mobile-list__info
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Консультация
            .mobile-list-item__group
              .mobile-list-item__price
                span Бесплатно
              .mobile-list-item__time
                span 30
                |  минут
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Первый этап работ
            .mobile-list-item__group
              .mobile-list-item__price
                span 30 000
                |  ₽
              .mobile-list-item__time
                span 7
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Написание технического задание
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 36 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 5
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Проектирование UI/UX
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 36 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 5
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Дизайн UI/UX
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 54 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 7
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Создание архитектуры проекта
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 27 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 3
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Серверная часть (веб-сервисы, БД, API)
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 67 500
                |  ₽
              .mobile-list-item__time
                | от 
                span 5
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Доработки существующего приложения
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 22 500
                |  ₽
              .mobile-list-item__time
                | от 
                span 3
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Тестирование и менеджмент
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 18 500
                |  ₽
              .mobile-list-item__time
                | от 
                span 3
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Разработка сайтов (веб-сайт, админ-панель)
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 67 500
                |  ₽
              .mobile-list-item__time
                | от 
                span 10
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Машинное обучение (Нейронные сети, Deep Learning)
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 225 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 30
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Довести до идеала
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 2 700 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 4
                |  месяцев
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Быстрое создание MVP
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 225 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 14
                |  дней
        .mobile-list__title
          h5 Поддержка:
        .mobile-list__info
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Бесплатная техническая поддержка
            .mobile-list-item__group
              .mobile-list-item__price
                span Бесплатно
              .mobile-list-item__time
                span 1
                |  год
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Премиальная техническая поддержка
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 52 500
                |  ₽
              .mobile-list-item__time
                span 1
                |  месяц
