footer
  .container
    .footer
      .footer-logo
        svg
          use(href='/image/logo_footer.svg#logo')
      .footer-info
        .footer-info__copyright
          p
            span ©
            | 2012 — 2021. Все права защищены
        .footer-info__link
          a(href='#' title='Политика конфиденциальности') Политика конфиденциальности
      .footer-social
        .footer-social__icon
          a(href='tg://resolve?domain=rukonovalov' title='Написать в Telegram')
            svg
              use(href='/image/icon/telegram.svg#telegram')
        .footer-social__icon
          a(href='//wa.me/+79689649988' target='_blank' title='Написать в WhatsApp')
            svg
              use(href='/image/icon/whatsapp.svg#whatsapp')
