header
  .container
    .header
      .header-logo
        a(href='/' title='CheapCode')
          svg
            use(href='/image/logo.svg#logo')
      .header-social
        .header-social__icon
          a(href='tg://resolve?domain=rukonovalov' title='Написать в Telegram')
            svg
              use(href='/image/icon/telegram.svg#telegram')
        .header-social__icon
          a(href='//wa.me/+79689649988' target='_blank' title='Написать в WhatsApp')
            svg
              use(href='/image/icon/whatsapp.svg#whatsapp')
