// popup
#popup
  .overlay
    .close-popup
    // заказ приложения
    .module#request
      a.close-popup(href='#' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
      .request
        form.request-form(name='call_request' autocomplete='off')
          .request-form__title Выберите платформу
          .request-form__text
            p Отметьте платформы, на которых должно работать мобильное приложение
          fieldset.request-form__line
            input#request-type(type='hidden' name='type' value='iOS')
            .choice
              a.ios.active(href='#' data-value='iOS' title='iOS')
                svg
                  use(href='/image/icon/ios.svg#ios')
                span iOS
            .choice
              a.android(href='#' data-value='Android' title='Android')
                svg
                  use(href='/image/icon/android.svg#android')
                span Android
            .choice
              a.web(href='#' data-value='Web' title='Web')
                svg
                  use(href='/image/icon/web.svg#web')
                span Web
          .request-form__title Опишите задачу
          .request-form__text
            p Понимание идеи предстоящей задачи позволяет задать уточняющие вопросы по сути и сократить время на ознакомление
          fieldset.request-form__line
            .request-form__block
              textarea#request-description(name='description' required placeholder='Введите текст либо вставьте ссылку на документ...' value='')
          .request-form__title Укажите персональные данные
          .request-form__text
            p Обработка заявки может занять до нескольких дней
          fieldset.request-form__line
            .request-form__column
              label(for='request-phone') Телефон
              input#request-phone(type='phone' name='phone' required placeholder='+7' value='')
            .request-form__column
              label(for='request-email') Почта
              input#request-email(type='email' name='email' required placeholder='' value='')
            .request-form__button
              .button.button_send.button_disable
                a(href='#' title='Отправить заявку') Отправить заявку
// popup end
